extends layout

block content
    .mt-4

        //Dummy posts
        each post in [{user: "Alice", text: "Schaut her mein erster Other :D"}, {user: "Bob", text: "Hey google wo wachsen Bananen? LG Bob"}]

            .card.mb-3
                .card-body
                    h5.card-title= post.user
                    p.card-text= post.text